{% extends 'main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-5">
		<h5>Clients:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Créer Un Client</a>
			<table class="table table-sm">
				<tr>
					<th>ID</th>
					<th>Clients</th>
					<th>Telephone</th>
					<th>Details</th>
				</tr>
				<!-- on créé une boucle dynamique -->
				<!-- pour chaque client je vais afficher l'id, le nom, telephone -->
				{% for client in clients %}

				<tr>
					<td><a href="{% url 'client' client.id %}">{{client.id}}</a></td> <!-- balise pour afficher les données -->
					<td>{{client.nom}}</td>
					<td>{{client.telephone}}</td>
					<td><a class="btn btn-sm btn-success" href="{% url 'client' client.id %}">Details</a></td>
				</tr>

				{% endfor %}


			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Toutes les Commandes</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ajout_commande' %}">Ajouter une Commande</a>
			<table class="table table-sm">
				<tr>
					<th>Produit</th>
					<th>Client</th>
					<th>Date</th>
					<th>Status</th>
					<th>Mise à Jour</th>
					<th>Supprimer</th>
				</tr>
				{% for commande in commandes %}

				<tr>
					<td>{{ commande.produit }}</td> <!-- nom du produit -->
					<td>{{ commande.client }}</td> <!-- nnom du client -->
					<td>{{ commande.date_creation }}</td>
					<td>{{ commande.status }}</td>
					<td><a class="btn btn-sm btn-success" href="{% url 'modifier_commande' commande.id %}" >Modifier</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'supprimer_commande' commande.id %}" >Supprimer</a></td>

				</tr>

				{% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}